{{ partial "head.html" . }}
<div class="content container">
  <br/>
  <ul class="posts">
  	<li>{{ partial "adsense.html" . }}</li>
  {{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ if isset .Params "categories" }}
    &middot;
    {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}</span>
    &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
  {{ end }}
  	<li>{{ partial "adsense.html" . }}</li>
  </ul>
  <br/>
</div>
{{ partial "foot.html" . }}
