.sidebar h1 {
	font-size: 1.6rem;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.sidebar h3, .sidebar h1 {
	color: white;
}
.sidebar .fa-external-link {
	font-size: 14px;
	color: white;
}
.sidebar .fa-stack {
    vertical-align: top;
    margin-right: 12px;
}
.sidebar .fa-stack-2x {
    left: 3px;
    color: #6A9FB5;
    top: 8px;
}