{{ partial "head.html" . }}
<div class="content container">
  <br/>
  <div class="post">
    <h1>{{ .Title }}</h1>
    <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} <!-- &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }} -->
    {{ if isset .Params "categories" }}
    <br/>
    {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}</span>


    {{ .Content }}
    {{ if .Params.link }}
      {{ partial "listen.html" . }}
    {{ end }}
  </div>
    {{ if ne .Params.share false}}

    <section class="share">

      <span>Рассказать друзьям:</span>
      <a href="https://twitter.com/share?text={{ .Title | safeHTML}}&amp;url={{ .Permalink }}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter-square fa-1x"></i></a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook-square fa-1x"></i></a>
      <a href="https://plus.google.com/share?url={{ .Permalink }}"
         onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus-square fa-1x"></i></a>
    </section>
    {{end}}

  {{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>{{ end }}
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
    var disqus_shortname = {{ . }};
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}
{{ partial "foot.html" . }}
